[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/filesystem"]
	path = third_party/filesystem
	url = https://github.com/gulrak/filesystem
